<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutoJTService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessageService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://www.autojt.com:9900/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMessageService" contract="AutoJTMessageService.IMessageService"
                name="NetTcpBinding_IMessageService" />
            <endpoint address="http://www.autojt.com:8002/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAutoJTService" contract="AutoJTServiceReference.IAutoJTService"
                name="BasicHttpBinding_IAutoJTService" />
        </client>
    </system.serviceModel>
</configuration>